
{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.


{port_specs, [
            {"priv/octree_nif.so", ["c_src/*.cpp"]}
            ]}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -std=c++11 -O3 -Wall -Wextra -Wno-unused -I eigen3 -I nifpp -I /usr/include/pcl-1.7"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS"},

            %% Make sure to link -lstdc++ on Linux, FreeBSD, or Solaris
            {"(linux|freebsd|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}]}.


