
{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.

{deps, [{nifpp, ".*", {git, "git@github.com:goertzenator/nifpp.git"}, [raw]},
       {eigen, ".*", {git, "git@github.com:vancegroup-mirrors/eigen.git"}, [raw]},
       {pcl, ".*", {git, "git@github.com:PointCloudLibrary/pcl.git", {tag, "pcl-1.7.2"}}, [raw]}]}.


{port_specs, [
            {"priv/octree_nif.so", ["c_src/*.cpp"]}
            ]}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -std=c++11 -O2 -Wextra -Wno-unused -I deps/eigen3 -I deps/nifpp -I /usr/include/pcl-1.7"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS"},

            %% Make sure to link -lstdc++ on Linux, FreeBSD, or Solaris
            {"(linux|freebsd|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}]}.
